USE [Comp229TeamProject]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 11/25/2016 6:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Books](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[book_name] [varchar](8000) NOT NULL,
	[book_detail] [varchar](8000) NULL,
	[is_available] [bit] NOT NULL,
	[user_id] [int] NULL,
	[image_url] [varchar](8000) NULL,
	[date] [date] NULL,
	[isbn_no] [varchar](5000) NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 11/25/2016 6:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[reviews_msg] [varchar](8000) NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/25/2016 6:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](5000) NOT NULL,
	[last_name] [varchar](5000) NULL,
	[age] [int] NULL,
	[password] [varchar](8000) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Users]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Users1] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Users1]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Books] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Books]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO


--users
INSERT INTO Comp229TeamProject.[dbo].Users (Name, last_name, age, password)
VALUES ('siddhesh','mahadeshwar',25, 'siddhesh')

INSERT INTO Comp229TeamProject.[dbo].Users (Name, last_name, age, password)
VALUES ('Aakash','Chirstian',20, 'aakash')

INSERT INTO Comp229TeamProject.[dbo].Users (Name, last_name, age, password)
VALUES ('bob','sandy',30, 'bob')



--Books
















--Review
INSERT INTO Comp229TeamProject.[dbo].Reviews(user_id, book_id, reviews_msg)
VALUES (1, 1, 'Awesome')

INSERT INTO Comp229TeamProject.[dbo].Reviews(user_id, book_id, reviews_msg)
VALUES (1, 1, 'Great experience of designing')

INSERT INTO Comp229TeamProject.[dbo].Reviews(user_id, book_id, reviews_msg)
VALUES (1, 1, 'easy to access and time saving')


