body {
    font-family:sans-serif;
    font-size:medium;
    font-weight:normal;
    align-items:center;
    text-align:center;
 background:url("../Assets/background2.jpg");
 color:gainsboro;
 box-sizing:padding-box;
 margin-left:0%;
 margin-top:0%;
 margin-right:0%;
 padding-left:10px;
 padding-right:10px;
}
footer{
    text-align:center;
    color:lightgrey;
   
  background-position:50px;
  font-size:small;
}
table {
    width: 100%;
    height: 40px;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.div {
    background-image: url('../Assets/facebookTab.jpg');
    background-position: left top;
    background-attachment: fixed;
    margin-left:0%;
    margin-right:0%;
}
 .auto-style4 {
            width: 863px;
            background-color: #CCCCCC;
        }
        .auto-style5 {
            width: 287px;
            text-align: left;
        }
        .auto-style6 {
            width: 18px;
            text-align: left;
        }
        .auto-style7 {
            width: 80px;
            text-align: left;
        }
        .auto-style8 {
            text-align: center;
        }
label {
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
    color: #CCCCCC;
    text-decoration: none;
    left: 100%;
}
h2{
    font-family:sans-serif;
    color:black;
}
link {
    color: #CCCCCC;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
   .auto-style9 {
            height: 246px;
        }
    .auto-style11 {
            width: 100%;
            margin-top:0;
        }
        .auto-style12 {
            text-align: left;
            margin-top:0px
        }
        .auto-style13 {
            text-align: right;
            padding-right:5px;
        }
        .auto-style14 {
            height: 64px;
        }
label {
   
    padding-right:10px;
}
.newStyle1 {
    background-color: #000000;
}
h3{
    padding-right:5px;
}